body {
    background-color: black;
}

.header {
    display: flex;
    background-color: rgb(47, 24, 128);
    justify-content: center;
    align-items: center;
    height: 85px;
    font-size: 25px;
    text-decoration: none;
    list-style: none;
    
}

.header-list {
    display: flex;
    color: white;
    list-style: none;
    gap: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

.list {
    text-decoration: none;
    color: whitesmoke;
}
    

img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    
   }

.bio {
    display: flex;
    width: 300px;
    height: fit-content;
    background-color: black;
    color: whitesmoke;
    padding: 50px;
}
